<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Магазин</title>
</head>

<body>
<form th:action="@{/products}">
    <button class="button" type="submit">На главную</button>
</form>
<form th:action="@{/orders}">
    <button class="button" type="submit">Список заказов</button>
</form>
<form th:action="@{/cart}">
    <button class="button" type="submit">Корзина</button>
</form>

<h1>Корзина</h1>

<div>
    <p th:text="'Всего: ' + ${total}"></p>
    <form th:action="@{/purchase}" method="post">
        <button class="button" type="submit">Сделать заказ</button>
    </form>
    <div th:each="el : ${cart}">
        <p th:text="${el.id}"></p>
        <p th:text="'Товаров в корзине: ' + ${el.quantity}"></p>
        <p>==></p>

        <h3><a th:href="@{/products/{productId}(productId=${el.product.id})}" th:text="${el.product.name}"></a></h3>
<!--        <p th:text="${el.product.id}"></p>-->
<!--        <p th:text="${el.product.name}"></p>-->
        <p th:text="${el.product.description}"></p>
        <p th:text="${el.product.price}"></p>
        <p th:text="${el.product.imageUrl}"></p>
        <p th:text="${el.product.stock}"></p>
        <p>----</p>
    </div>
</div>

</body>
</html>