<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Блог о еде</title>
</head>

<body>
<form th:action="@{/products}">
    <button class="button" type="submit">На главную</button>
</form>
<form th:action="@{/orders}">
    <button class="button" type="submit">Список заказов</button>
</form>
<form th:action="@{/cart}">
    <button class="button" type="submit">Корзина</button>
</form>

<h1>Список заказов</h1>

<div>
    <div th:each="order : ${orders}">
        <h3><a th:href="@{/orders/{orderId}(orderId=${order.id})}" th:text="${order.id}"></a></h3>
<!--        <p th:text="${order.id}"></p>-->
        <p th:text="${order.totalAmount}"></p>
        <p th:text="${order.status}"></p>
        <p>==></p>
        <div th:each="orderItem : ${order.orderItems}">
            <p th:text="${orderItem.id}"></p>
            <p th:text="${orderItem.quantity}"></p>
            <p th:text="${orderItem.price}"></p>

            <h3><a th:href="@{/products/{productId}(productId=${orderItem.product.id})}" th:text="${orderItem.product.name}"></a></h3>
<!--            <p th:text="${orderItem.product.name}"></p>-->
            <p>***</p>
        </div>

<!--        <p th:text="${order.id}"></p>-->
<!--        <p th:text="${product.id}"></p>-->
<!--        <p th:text="${product.name}"></p>-->
<!--        <p th:text="${product.description}"></p>-->
<!--        <p th:text="${product.price}"></p>-->
<!--        <p th:text="${product.image_url}"></p>-->
<!--        <p th:text="${product.stock}"></p>-->
        <p>----</p>
    </div>
</div>

</body>
</html>