<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Магазин</title>
</head>

<body>
<form th:action="@{/products}">
    <button class="button" type="submit">На главную</button>
</form>
<form th:action="@{/orders}">
    <button class="button" type="submit">Список заказов</button>
</form>
<form th:action="@{/cart}">
    <button class="button" type="submit">Корзина</button>
</form>


<h1>Список товаров</h1>

<div class="filter" id="filterForm">
    <form method="GET">
        <input type="text" id="filter" name="filter" placeholder="Введите тег" th:value="${filter}"/>
        <input type="hidden" id="currentPage" name="page" th:value="${products.number + 1}"/>
        <input type="hidden" id="sizePage" name="size" th:value="${products.size}"/>
        <input type="hidden" id="sortBy" name="size" th:value="${sortBy}"/>
        <button class="button" type="submit">Поиск</button>
    </form>
</div>

<a th:href="@{/products(size=${products.size}, page=${pageNumber}, filter=${filter}, sortBy=name)}"
   th:text='name'></a>
<a th:href="@{/products(size=${products.size}, page=${pageNumber}, filter=${filter}, sortBy=price)}"
   th:text='price'></a>

<div>
    <div th:each="product : ${products}">
        <p th:text="${product.id}"></p>
        <h3><a th:href="@{/products/{productId}(productId=${product.id})}" th:text="${product.name}"></a></h3>
<!--        <p th:text="${product.name}"></p>-->
        <p th:text="${product.description}"></p>
        <p th:text="${product.price}"></p>
        <p th:text="${product.imageUrl}"></p>
        <p th:text="${product.stock}"></p>
        <p th:text="'В корзине: ' + ${product.cartQuantity}"></p>
        <form th:action="@{/cart/add/{id}(id=${product.id})}" method="post">
            <button type="submit">Добавить в корзину</button>
        </form>
        <form th:action="@{/cart/remove/{id}(id=${product.id})}" method="post">
            <button type="submit">Удалить из корзины</button>
        </form>
        <p>----</p>
    </div>
</div>

<div id="paginationForm">
    <div>
        <div th:if="${products.totalPages > 0}" class="pagination"
             th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/products(size=${products.size}, page=${pageNumber}, filter=${filter}, sortBy=${sortBy})}"
               th:text=${pageNumber}
               th:class="${pageNumber==products.number + 1} ? active"></a>
        </div>
    </div>
    <div class="pagination-choice">
        <span th:text="'Текущая страница '+${products.number + 1}+' из '+${products.totalPages}"/>
        <span>Показать по :</span>
        <a th:href="@{/products(size=1, filter=${filter}, sortBy=${sortBy})}"
           th:class="${products.size==1} ? active">1</a>
        <a th:href="@{/products(size=10, filter=${filter}, sortBy=${sortBy})}"
           th:class="${products.size==10} ? active">10</a>
        <a th:href="@{/products(size=20, filter=${filter})}"
           th:class="${products.size==20} ? active">20</a>
        <a th:href="@{/products(size=50, filter=${filter})}"
           th:class="${products.size==50} ? active">50</a>
    </div>
</div>

</body>
</html>