<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Блог о еде</title>
</head>

<body>
<form th:action="@{/products}">
    <button class="button" type="submit">На главную</button>
</form>
<form th:action="@{/orders}">
    <button class="button" type="submit">Список заказов</button>
</form>
<form th:action="@{/cart}">
    <button class="button" type="submit">Корзина</button>
</form>


<h1>Список товаров</h1>

<div>
    <div th:each="product : ${products}">
        <p th:text="${product.id}"></p>
        <h3><a th:href="@{/products/{productId}(productId=${product.id})}" th:text="${product.name}"></a></h3>
<!--        <p th:text="${product.name}"></p>-->
        <p th:text="${product.description}"></p>
        <p th:text="${product.price}"></p>
        <p th:text="${product.imageUrl}"></p>
        <p th:text="${product.stock}"></p>
        <p>----</p>
    </div>
</div>

</body>
</html>